/* 
=================================
Global
=================================
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Condensed:wght@300;400;700&family=Teko:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Roboto Condensed", monospace, sans-serif;
  line-height: 1.7;
}

body {
  background-color: var(--color-white);
  overflow-x: hidden;
}



:root {
  --color-primary: #f27b50;
  --color-secondary: #3c4889;
  --color-light-grey: #b6b6b8;
  --color-dark-grey: #403e3f;
  --color-black: #00010f;
  --color-white: #fdfdfe;
  --color-success: #28a745;
  --color-danger: #dc3545;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: "Oswald", sans-serif;
}
ul{
  list-style-type: none;
}

a,a:active,a:visited{
  text-decoration:none;
  display: inline-block;
}

button{
  display: inline-block;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .3s ease;
}

button:active,button:hover{
  opacity: .8;
}

.teko-font {
  font-family: "Teko", sans-serif;
}

.Oswald-font {
  font-family: "Oswald", sans-serif;
}

.upper-case{
  text-transform: uppercase;
}

.active{
  color:var(--color-primary)!important;
}

.title{
  color: var(--color-dark-grey);
  font-size: 3.5rem;
}

.container{
  max-width: 120rem;
  width: 100%;
  margin: 5rem auto;
  padding: 1rem;
}

/* default-notifications */
.default-notification{
  background-color: #add8e691;
  /* box-shadow: 0 1px 4px var(--color-dark-grey); */
  /* border-radius: 3rem; */
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-notification > .image-container{
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

.default-notification > .image-container > img{
  display: inline-block;
  object-fit: contain;
  width: 100%;
}

.default-notification >h3{
  font-size: 2rem;
  color: var(--color-dark-grey);
}
.default-notification >p{
  font-size: 1.5rem;
  color: var(--color-dark-grey);

}

/* Remove Number Arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* SELECT Remove Arrow  */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

/* Custom Scroll*/
/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-light-grey);
  border-radius: 2rem;

}

/* 
=================================
Nav
=================================
*/

.nav{
  background-color: var(--color-secondary);
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.nav .img-container{
  width: 25rem;
  height: 6rem;
  overflow: hidden;
}

.nav .img-container > img{
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.nav  .menus{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav  .menus li a{
  font-size: 3rem;
  color:var(--color-white);
  transition: color .3s ease;
}

.nav  .menus li a:hover,.nav  .menus li a:active{
  color:var(--color-primary);

}

/* 
=================================
Common Use in product-list | Add
=================================
*/

.products .heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 2rem ;
  border-bottom:.5rem solid var(--color-primary);
}

.products .heading .danger{
  color: var(--color-white);
  background-color: var(--color-danger);
  border-radius: 2rem;
}

.products .heading a.danger{
  padding: .5rem 1.5rem;
  font-size: 2rem;
  transition: all .3s ease;
}

.products .heading a.danger:hover,
.products .heading a.danger:active{
  opacity: .8;
}
/* 
=================================
Footer
=================================
*/

.footer{
  background-color: var(--color-primary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.footer > h3{
  color: var(--color-white);
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

/* 
=================================
Media
=================================
*/
@media only screen and (max-width: 485px) {
  /* nav */
  .nav{
    justify-content:center;}
}


